#menu-toggle {
  position: fixed;
  margin: 7px;
  width: 166px;
  background-color: #FF4081;
  border-color: #fff;
  color: #fff;
  font-weight: bold;
}

#menu-toggle:hover {
  background: #D1C4E9;
  color: #512DA8;
}

#menu-toggle.toggled {
  height: 34px;
}

#menu-hamburger {
  top: 0px;
  left: -2px;
  line-height: 1.42857143;
}

.navigation {
  background-color: #512DA8;
}

#sidebar-wrapper iframe {
  height: 100%;
}

#sidebar-wrapper {
  overflow: hidden;
  box-shadow: 8px 0 50px #414257;
}

iframe {
  border: none;
}

.resume h1 {
  color: #512DA8;
}

.resume h3 {
  color: #512DA8;
}

.resume-header {
  text-align: center;
}

::selection {
  background: #512DA8;
  color: white;
}